doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Player
    body
        .player
            video(poster="https://cdn.selz.com/plyr/1.0/poster.jpg", crossorigin, muted, controls)
                source(type="video/mp4", src="https://cdn.selz.com/plyr/1.0/movie.mp4")
                source(type="video/webm", src="https://cdn.selz.com/plyr/1.0/movie.webm")
                a(href="https://cdn.selz.com/plyr/1.0/movie.mp4") Download
            .player-controls
                button.player-play-btn(type="button") Play
                input.player-seek-slider(type="range", min="0", max="100", step="0.5", value="0")
                span.player-info
                    span.player-info-current-time
                    | / 
                    span.player-info-duration-time
                button.player-mute-btn(type="button") Mute
                input.player-volume-slider(type="range", min="0", max="10", step="1", value="5")
                button.player-fullscreen-btn(type="button") Fullscreen
                
        script(type="text/javascript", src="assets/js/min/scripts.min.js")
